<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vue JS - Jokes</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- =====================================================================
    CSS
    ========================================================================== -->
    <link rel="stylesheet" href="css/stylesheet.css">

    <!-- =====================================================================
    FONTS
    ========================================================================== -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">

    <script src="https://unpkg.com/vue"></script>

  </head>

  <body>
    <!--[if lte IE 9]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


    <!--
    <div class="nav">
      <div class="l-container">
          
        <div class="nav__container">
          <div class="nav__header">
              <div class="global-header__logo">
                <a href="">
                  <img class="logo" src="images/logo.svg" />
                </a>
              </div>

              <div class="hamburger js-mobile-nav-toggle">
                  <span class="slice1"></span>
                  <span class="slice2"></span>
                  <span class="slice3"></span>
                  <div class="hamburger__title">Menu</div>
              </div>
          </div>
          <nav class="nav__list" role="main-navigation">
            <ul class="list-no-bullets">
              <li class="nav__tier1"><a class="" href="">Link</a></li>
              <li class="nav__tier1"><a class="" href="#">Link</a></li>
              <li class="nav__tier1"><a class="" href="#">Link</a></li>
            </ul>
          </nav>
        </div>

      </div>
    </div>
    -->

    <!-- Begin Off Canvas Menu-->
    <!--
    <div class="off-canvas">
        <nav class="off-canvas__list" role="main-navigation2">
            <ul>
              <li><a href="#">Sevices</a></li>
              <li><a href="#">Company</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Blog</a></li>
              <li><a href="#">Resources</a></li>
              <li><a href="#">News & Events</a></li>
            </ul>        
         </nav>
    </div>
    -->
    <!-- End Off Canvas Menu -->