.product-grid {

	+ .product-grid {
		margin-top: 80px;
	}

	.product-meta {
		display: flex;
		font-size: 14px;
		font-weight: 700;
		justify-content: space-between;
		letter-spacing: .1em;
		margin-top: 20px;
		text-transform: uppercase;
	}
}



.product__title {

}

.product__price {

}